header {
    background-color: white;
    color: pink;
    font-family: cursive;
    font-size: 40px;
    font-weight: bolder;
    padding-top: 30px;
    min-height: 60px;
    text-align: center;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px; /* Spacing between buttons */
}

.nav-button {
    font-size: 20px; /* Adjust font size as needed */
    width: 200px;
    height: 60px;
    padding: 10px 20px; /* Adjust padding as needed */
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50; /* Adjust background color as needed */
    color: white; /* Adjust text color as needed */
    transition: background-color 0.3s;
}

.nav-button:hover {
    background-color: #45a049; /* Adjust hover background color as needed */
}

